body {
    margin: 0;
    padding: 0;
    background-color: #F5EEE4;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-left: 20px;
}

h1 {
    font-size: 20px;


}

h1 span {
    margin-left: 15px;

}

h2 {
    color: aliceblue
}

p {
    font-size: 18px;
    color: white
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #F5EEE4;
    box-shadow: #333 2px 2px 5px;
}

.logo {
    padding-left: 10px;
    margin-right: auto;

}

nav a {
    padding-right: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;

}

.room-hero {
    margin-top: 0px;
    justify-content: center;
    background-image: url("rooms_hero.jpeg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.aboutus-hero {
    background-image: url("reception1.jpeg");
}

.support-hero {
    background-image: url("cardroom1.jpeg");
}

.hero {
    margin-top: 0px;
    padding: 0px;
    background-image: url("hotel2.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.hcontent {
    padding-right: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome {
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: 60px;
    font-style: italic;
}

.place {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.check {
    display: flex;
    justify-content: center;

}

.checkin {
    background-color: white;
    margin-top: -40px;
    width: 70%;
    border-radius: 5px;
    box-shadow: #333 2px 2px 5px;
    ;
    position: absolute;
}

* {
    box-sizing: border-box;
}

.lit-aboutus {
    margin-top: 150px;
    text-align: center;
    font-size: small;
    color: #4e4b4b;
}

.aboutpics {
    width: 80vh;
    height: 80vh;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.roomcard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    border-radius: 3px;
    height: 100%;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: #333 2px 2px
}

.room-button {
    background-color: rgb(135, 110, 77);
    color: azure;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer !important;
    position: relative;
    z-index: 10;
}

.j {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: #333 2px 2px 5px;
    width: 350px;
    height: fit-content
}

.blog {
    background-color: white;
    border-radius: 10px;
    box-shadow: #333 2px 2px 5px;
    width: 350px;
    height: fit-content;
}

.cardimg {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: #333 2px 2px
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.Afooter {
    display: flex;
    justify-content: center;
    gap: 90px;
    height: 30vh;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    width: 100%;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.hover {
    transform: translateY(-4px) scale(1.04);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

.j:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translateY(-4px) scale(1.04);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

.blog:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translateY(-4px) scale(1.04);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

.links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#sidebar-active {
    display: none;
}

.open-side-button,
.close-side-button {
    display: none;
}

@media(max-width:550px) {

    .welcome {
        font-size: 40px;
        width: 100%;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        padding-left: 15px;
        padding-top: 10px;
        top: 0;
        right: -100%;
        z-index: -1px;
        width: 40%;
        height: 100%;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
        transition: 0.75s ease-out;

    }

    .links-container::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("room1.jpg");
        filter: blur(12px);
        transform: scale(1.1);
        z-index: -1;

    }

    .open-side-button,
    .close-side-button {
        padding-right: none;
        padding-top: 10px;
        display: block;
        padding-right: 10px;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -9;

    }

}